backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
bleach==1.4.2
blinker==1.4
certifi==2016.2.28
ChineseTone==0.1.2
configparser==3.3.0.post2
decorator==4.0.9
dominate==2.1.16
entrypoints==0.2
feedparser==5.2.1
Flask==0.10.1
Flask-Bootstrap==3.3.5.7
Flask-HTTPAuth==2.7.0
Flask-Login==0.3.2
Flask-Migrate==1.6.0
Flask-Moment==0.5.1
Flask-PageDown==0.2.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
functools32==3.2.3.post2
gunicorn>=19.4.5
html5lib==0.9999999
ipykernel==4.3.1
ipywidgets==4.1.1
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.2.2
jupyter-console==4.1.1
jupyter-core==4.1.0
Mako==1.0.3
Markdown==2.6.4
MarkupSafe==0.23
MySQL-python==1.2.3
nbconvert==4.2.0
nbformat==4.0.1
networkx==1.11
notebook==4.1.0
pathlib2==2.1.0
pickleshare==0.7.2
Pillow==3.2.0
postgres==2.2.1
psycopg2==2.6.1
Pygments==2.1.3
pyparsing==2.1.1
pyreadline==2.1
pytagcloud==0.3.5
python-dateutil==2.5.2
python-editor==0.4
pytz==2016.3
qtconsole==4.2.1
requests==2.9.1
simplegeneric==0.8.1
simplejson==3.8.2
singledispatch==3.4.0.3
six==1.10.0
SQLAlchemy==1.0.9
tornado==4.3
traitlets==4.2.1
visitor==0.1.2
Werkzeug>=0.11.3
wheel>=0.26.0
alembic==0.8.6
awscli==1.6.2
bcdoc==0.12.2
boto==2.33.0
botocore==0.73.0
click==6.6
colorama==0.2.5
cycler==0.10.0
docutils==0.12
Flask-Admin==1.4.2
genson==0.1.0
jmespath==0.5.0
numpy==1.11.0
pandas==0.18.1
prettytable==0.7.2
pyasn1==0.1.9
rsa==3.1.2
selenium==3.0.0b3
sseclient==0.0.8
WTForms==2.1
